
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --main-bg-color-dark: rgba(2, 0, 36, 1);
    --main-bg-color-medium: rgba(82, 50, 8, 1);
    --main-bg-color-light: rgba(182, 119, 3, 1);
    --black: rgba(0, 0, 0, 1);
    --white-trans: rgba(255, 255, 255, 0.6);
    --white-solid: rgba(255, 255, 255, 1);

    --link-hover: rgba(255, 255, 255, 0.6);

    font-size: 16px;
  }

body {
    background: var(--main-bg-color-dark);
    background: linear-gradient(0deg, var(--main-bg-color-dark) 0%, var(--main-bg-color-medium) 100%);
}

.card-link {
    text-decoration: none;
    color: var(--white-solid);
}

.card-link:hover {
    color: var(--link-hover);
}

.bg {
    height: 100vh;
    width: 100vw;
    filter: grayscale(60%);
    opacity: 0.5;
    position: relative;
}

.bg_main {
    background: url(../images/grass.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg_sub1 {
    background: url(../images/dandy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--black);
    width: 100%;
    height: 2s0px;
    z-index: 100;
}

.intro_title {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--main-bg-color-light);
    box-shadow: 10px 10px var(--black)0;
    color: var(--white-solid);
    padding: 10px 20px;
    z-index: 200;
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
}

.intro_title a {
    color: var(--white-solid);
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.content {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 100px;
    /* border: red 1px solid; */
    display: flex;
    flex-direction: column;
}

.avitar {
    border-radius: 50%;
    border: solid var(--white-trans) 4px;
    display: inline-block;
    margin: auto;
    z-index: 10;
}

.avitar__L {
    height: 125px;
    width: 125px;
}

/* .avitar__S {
    height: 50px;
    width: 50px;
} */

.avitar__id {
    background-image: url(../images/me.jpg);
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
}

.id {
    padding: 8px 0 10px 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    font-family: 'Maven Pro', sans-serif;
    color: var(--white-solid);
}

.dot_social {
    background-color: aqua;
}

.card_container {
    outline: 1px solid rgba(238, 238, 238, 0.3);
    width: 100%;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em 0;
}

.card {
    width: 90%;
    min-height: 130px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 3px 7px 13px 0px rgba(7, 4, 6, 0.94);
    box-shadow: 3px 7px 13px 0px rgba(7, 4, 6, 0.94);
    margin-bottom: 1.2em;
    padding: 0.6em;
    display: flex;
    align-items:center;
    justify-content: center;
}

.card-font {
    font-family: 'Aldrich', sans-serif;
    font-size:1.3rem;
    line-height: 1.2em;
}


@media (min-width: 600px) {
  
    .card {
        width: 30rem;
    }
}

@media (min-width: 1000px) {
  
    .card_container {
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }
    .card {
        width: 30%;
    }
}



.social_container {
    min-width: 15rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0;
}

/* Style all font awesome icons */
.fa {
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    z-index: 10;
    border: 2px solid rgba(255, 255, 255, .4);
}

/* Add a hover effect if you want */
.fa:hover {
    color: var(--white-solid);
}

/* Facebook */
.fa-facebook {
    padding: 9px 1px 1px 0;
    color: rgba(255, 255, 255, .4);
}

/* Twitter */
.fa-twitter {
    padding: 9px 1px 1px 3px;
    color: rgba(255, 255, 255, .4);
}

/* linkedin */
.fa-linkedin {
    padding: 9px;
    color: rgba(255, 255, 255, .4);
}





.plan_container {
    border: 1px solid rgba(238, 238, 238, 0.3);
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 30px 30px;
}

.plan {
    width: 50%;
    padding : 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    text-decoration: none;
    color:var(--white-solid);
    
}
.plan h1 {
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
}
.plan p {
    font-size: 20px;
    font-family: 'Maven Pro', sans-serif;
}

.plan ul {
    font-size: 16px;
    font-family: 'Maven Pro', sans-serif;
    padding:20px;
}
.plan li {
    line-height: 22px;
    padding:10px;
}



#box {
    background: rgb(200,200,200);
    position:absolute;
    left:200px;
    width:200px;
    height:230px;
    padding:0;
    z-index: 10;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.4));
    border: 1px solid rgba(0,0,0,0.2);
    background-image: url("https://i.pravatar.cc/300");
    background-position: center;
  }
  
  #boxheader {
    background: var(--white-solid);
    opacity: 0.6;
    width:199px;
    height:35px;
    left: -2px;
    top:-1px;
    position:absolute;
    margin: 0;
    z-index:20;
    cursor:grab;
    border: 2px var(--white-solid) solid;
    border-radius: 10px 10px 0 0;
  } 
  