* {
    box-sizing: border-box;
    margin: 0;
}


body {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgb(82, 50, 8) 100%);
}

.bg {
    height: 100vh;
    width: 100vw;
    filter: grayscale(60%);
    opacity: 0.5;
    position: relative;
}

.bg_main {
    background: url(../images/grass.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg_sub1 {
    background: url(../images/sky.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 2s0px;
    z-index: 100;
}

.intro_title {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(182, 119, 3);
    box-shadow: 10px 10px #000;
    color: white;
    padding: 10px 20px;
    z-index: 200;
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
}

.intro_title a {
    color: white;
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.content {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 100px;
    /* border: red 1px solid; */
    display: flex;
    flex-direction: column;
}

.dot {
    border-radius: 50%;
    border: solid rgba(255, 255, 255, 0.6) 4px;
    display: inline-block;
    margin: auto;
    z-index: 10;
}

.dot__L {
    height: 125px;
    width: 125px;
}

.dot__S {
    height: 50px;
    width: 50px;
}

.dot__id {
    background-image: url(../images/me.jpg);
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
}

.id {
    padding: 8px 0 10px 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-family: 'Maven Pro', sans-serif;
    color: white;
}

.dot_social {
    background-color: aqua;
}

.card_container {
    border: 1px solid rgba(238, 238, 238, 0.3);
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 30px;
}

.card {
    width: 30%;
    height: 130px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 3px 7px 13px 0px rgba(7, 4, 6, 0.94);
    box-shadow: 3px 7px 13px 0px rgba(7, 4, 6, 0.94);
}

.plan_container {
    border: 1px solid rgba(238, 238, 238, 0.3);
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 30px 30px;
}

.plan {
    width: 50%;
    padding : 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    text-decoration: none;
    color:white;
    
}
.plan h1 {
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
}
.plan p {
    font-size: 20px;
    font-family: 'Maven Pro', sans-serif;
}

.plan ul {
    font-size: 16px;
    font-family: 'Maven Pro', sans-serif;
    padding:20px;
}
.plan li {
    line-height: 22px;
    padding:10px;
}

.social_container {
    width: 30%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
}

/* Style all font awesome icons */
.fa {
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    z-index: 10;
    border: 2px solid rgba(255, 255, 255, .4);
}

/* Add a hover effect if you want */
.fa:hover {
    color: rgba(255, 255, 255, 1);
}

/* Facebook */
.fa-facebook {
    padding: 9px 1px 1px 0;
    color: rgba(255, 255, 255, .4);
}

/* Twitter */
.fa-twitter {
    padding: 9px 1px 1px 3px;
    color: rgba(255, 255, 255, .4);
}

/* linkedin */
.fa-linkedin {
    padding: 9px;
    color: rgba(255, 255, 255, .4);
}

#box {
    background: rgb(200,200,200);
    position:absolute;
    left:200px;
    width:200px;
    height:230px;
    padding:0;
    z-index: 10;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.4));
    border: 1px solid rgba(0,0,0,0.2);
    background-image: url("https://i.pravatar.cc/300");
    background-position: center;
  }
  
  #boxheader {
    background: white;
    opacity: 0.6;
    width:199px;
    height:35px;
    left: -2px;
    top:-1px;
    position:absolute;
    margin: 0;
    z-index:20;
    cursor:grab;
    border: 2px white solid;
    border-radius: 10px 10px 0 0;
  } 
  