
:root {

    --main-bg-color-dark: rgba(2, 0, 36, 1);
    --main-bg-color-medium: rgba(82, 50, 8, 1);
    --main-bg-burger: #519d90ff;
    --main-bg-burger-secondary: rgb(211, 141, 11);
    --main-bg-color-light: rgba(182, 119, 3, 1);
    --black: rgba(0, 0, 0, 1);
    --white-trans: rgba(255, 255, 255, 0.6);
    --white-solid: rgba(255, 255, 255, 1);

    --link-hover: rgba(255, 255, 255, 0.6);
    --base-opacity: 1;
    --base-opacity-1: calc(var(--base-opacity) - 0.06);
    --base-opacity-2: calc(var(--base-opacity) - 0.66);


  }
