
//-----------------------------------
.container-wrap {
    background: rgb(142,242,248);
    background: radial-gradient(circle, rgba(142,242,248,1) 35%, rgba(1,165,188,1) 100%); 
    background-size: auto;
    max-width:1000px;
    margin: 0 auto;
  
    display: grid;
    grid-template-rows: .4fr  1fr 40% 20%;

}

.hero {
   padding:20rem 40rem 0 40rem;
    img  {
        width:100%;
    }
}

.plan {
    max-width:95%;
    padding : 50px;
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    color:black;
    border-radius: 24rem; 
    margin: auto;
}

.plan h1 {
    font-size: 28rem;
    font-family: 'Montserrat', sans-serif;
}
.plan p {
    font-size: 16rem;
    font-family: 'Maven Pro', sans-serif;
}

.plan ol {
    font-size: 14rem;
    font-family: 'Maven Pro', sans-serif;
    padding:20rem;
}
.plan li {
    line-height: 2rem;
    padding:10px;
}

.assemble-wrapper {
    padding: 0 20rem 0 15rem;
    // background-color: #eee;

   .drop-target {
    //    outline:red 1px solid;
        height: 220rem;
        width: 250rem;
        margin: 30rem auto;
    }

    svg {
        width: 250rem;
        height:220rem;
    }

    h1 {
        font-size: 20rem;
        color: white;
    }
    .clear-order {
        display:block;
    }

    #box {
        position:absolute;
        width:120rem;
        height:120rem;
        padding:0;
        z-index: 10;
        cursor:grab;
        border-radius: 10px;
        filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.4));
        border: 1px solid rgba(0,0,0,0.2);
        background-image: url("https://api.lorem.space/image/burger?w=120&h=120");
        background-position: center;
      }
    
}

#pulseRing {
    position: absolute;
    width:200rem;
    opacity: 0;
}



  .orderSummary {
      width:225rem;
      height:200rem;
      background-color: white;
      outline: rgb(0, 0, 0) solid 1px;

      h1 {
          font-size:25rem;
      }

      .orderList {
          font-size: 16rem;
      }
  }

  .bg-burger {
      position:absolute;
      z-index: -10;
      top:0;
      bottom:0;
      left:0;
      right:0;
      background-color:white;
  }

  .burger_stand {
    position:absolute;
    z-index: -9;
    width:60%;
    bottom:0;
    right:0;
  }

    #ring1, #ring2 {
        fill:red;
        animation: yoyo_color 2s ease forwards infinite;
    }

    #ring3, #ring4 {
        fill:black;
        animation: yoyo_black 2s ease forwards infinite;
    }

